/*Arquivos de CSS (Cascade Style Sheet - Folha de Estilo em Cascata) são utilizados para formatar páginas HTML.
Enquanto as páginas criam a estrutura de um site, o CSS, por sua vez, realiza a formatação do conteúdo em HTML.*/

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25pt;
  text-align: center;
  color: rgb(29, 6, 6);
}

body {
  background-color: rgb(228, 219, 201);
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15pt;
  font-weight: 400;
  color: rgb(44, 3, 3);
  text-align: left;
  margin-left: 20pt;
  margin-right: 20pt;
}

img {
  margin: auto;
  display: block;
  opacity: 0.5;
  border-radius: 20px;
  transition: ease 1s; /*efeito de transição (animação) de um segundo*/
}

/*hover: identifica quando se passa com o mouse*/
img:hover {
  opacity: 1;
  border-radius: 20px;
  transform: scale(1.1);
}
